@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /* Grid Settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Color Swatches */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color-dark: #373737;
    --color_light: #ebebeb;
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #b55347;
    --color-grey: #888888;
    --category-veg: #298f3f;
    --category-dessert: #9374EB;
    --category-misc: #393819;
    --category-pasta: #bcbf23;
    --category-snacks: #9a951e;
}
* { /* Reset CSS */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation, .hero, .image-section, .footer {
    width: var(--width-full);
}

.todays_recipes, .categories, .content-area {
    width: var(--width-12col);
}

.navigation {
    background-color: var(--background-color-navigation);
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;

}

.fixed {
    position: fixed;
    top:0;
    z-index: 1000;

}
.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style: none;

}
.menu-container ul li a {
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--background-color-light);
}
.menu-container ul li a:hover {
    color: var(--primary-color)
}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}
.menu-container ul li:last-child {
    border: none;
}

.hero {
    background-image: url("https://picsum.photos/1200/800");
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:flex;
    justify-content: center ;
    width: var(--width-full);
    height: auto;
    margin:0;
    border-bottom: 1px solid var(--color-dark);
}

.hero-container {
    display:grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
    color:var(--background-color-light);
}

.hero-text {
    grid-column: 1 / span 3;
    grid-row: 2;

}

.hero-text h1 {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}
.hero-text h1 span {
    font-size: 37px;
    font-weight: 900;
}

.search-box {
    grid-column: 2/span 3;
    grid-row: 3;

}

.search-input {
    background-color: transparent;
    border: 1px solid var(--background-color-light);
    border-radius: 4px;
    padding: 10px 20px 10px 40px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 10px 0;
}

.search-input::placeholder {
    color: var(--background-color-light)
}


/*  Today's Recipes section start */
.todays_recipes {
    width: var(--width-12col);
    display:grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    margin: 0 auto;
}

.todays_recipes_headline {
    height: 60px;
    color: var(--background-color-light);
    border-bottom: 1px solid var(--background-color-light);
    text-transform: uppercase;
    font-weight: 700px;
    margin: 70px 0 0;
    font-size: 37px;

}

.todays_recipes_content {
    display:grid;
    gap: var(--grid-gap);
    width: var(--width-12col);
    grid-template-columns: repeat(4, 1fr);
    height: fit-content;
}

.todays_recipes_content_block {
    background-color: var(--background-color-light);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.todays_recipes_content_block_image img {
    border-radius: 5px 5px 0 0;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.todays_recipes_content_block_text {
    padding: 20px;
    color: var(--background-color-dark);
    display: flex;
    flex-direction: column;
}

.todays_recipes_content_block_text h5 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.todays_recipes_content_block_text p {
    font-size: 16px;
}

.todays_recipes_content_bottom_area {
    display:flex;
    justify-content: space-between;
    margin: 20px 0 0 0
}
.todays_recipes_content_bottom_area_left {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0px 10px;
}

.todays_recipes_content_bottom_area_left p {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.todays_recipes_content_bottom_area_left p:last-child {
    font-weight: 600;
}

/* Data Category Colors start */
div[data-category="seafood"] {
    border-left: 1px solid var(--category-seafood);
}

h4[data-category="seafood"] {
    border-left: 2px solid var(--category-seafood);
    padding-left: 10px;
}

p[data-category="seafood"],
span[data-category="seafood"] {
    color: var(--category-seafood);
}

p[data-category="chicken"],
span[data-category="chicken"] {
    color: var(--category-chicken);
}

h4[data-category="chicken"] {
    border-left: 2px solid var(--category-chicken);
    padding-left: 10px;
}

div[data-category="chicken"] {
    border-left: 1px solid var(--category-chicken);
}
div[data-category="veg"] {
    border-left: 1px solid var(--category-veg);
}
p[data-category="veg"] {
    color: var(--category-veg);
}

div[data-category="meats"] {
    border-left: 1px solid var(--category-meats);
}
p[data-category="meats"] {
    color: var(--category-meats);
}

/* Data Category Colors end */

.todays_recipes_content_bottom_area_right button {
    background-color: var(--color-dark);
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 12px;
}

.todays_recipes_content_bottom_area_right button a {
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
}

.categories {
    width: var(--width-12col);
    display:grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    margin: 0 auto;
}
.categories_headline {
    height: 60px;
    color: var(--background-color-light);
    border-bottom: 1px solid var(--background-color-light);
    text-transform: uppercase;
    font-weight: 700;
    margin: 70px 0 0;
    font-size: 37px;
    display: flex;
    justify-content: space-between;
    }

    .categories_headline_img {
          /* SeekPng */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 200px;
  

    }
.categories_content {
    text-transform: uppercase;
    display:grid;
    padding: 20px;
    margin-bottom: 70px;
    box-sizing: border-box;
    border-radius: 5px;
    gap: var(--grid-gap);
    width: var(--width-12col);
    grid-template-columns: repeat(7, 1fr);
    height: fit-content;
    background-color: var(--background-color-light);
    }
.categories_content_vegan {
    display: flex;
    flex-direction: column;
    color: var(--category-veg);
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.categories_content_seafood{
    display: flex;
    flex-direction: column;
    color: var(--category-seafood);
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.categories_content_pasta{
    display: flex;
    flex-direction: column;
    color: var(--category-pasta);
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.categories_content_chicken{
    display: flex;
    flex-direction: column;
    color: var(--category-chicken);
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.categories_content_snacks{
    display: flex;
    flex-direction: column;
    color: var(--category-snacks);
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.categories_content_meats{
    display: flex;
    flex-direction: column;
    color: var(--category-meats);
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.categories_content_dessert{
    display: flex;
    flex-direction: column;
    color: var(--category-dessert);
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.image-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: var(--width-full);
    clip-path: polygon(0 0, 100% 19%, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 600px;
    background-image: url("https://picsum.photos/1200/600");
}

.image-section_content {
  width: var(--width-12col);
  display: flex;
  justify-content: flex-end;
}

.text-overlay {
 
    background: #EBEBEB;
    color: #fff;
    padding: 20px 30px;
    border-radius: 4px;
    box-shadow: 0 4px 16px #00000033;
    max-width: 400px;
}

.text-overlay h1 {
    color: #373737;
    font-size: 14px;
    margin-bottom: 10px;
}

.text-overlay h2 {
    color: #ff5c00;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
}

.text-overlay p {
    color: #373737;
    font-size: 14px;
}

.content-area {
    width: var(--width-12col);
    display:grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    margin: 0 auto;

}

.content-area-headline {
    height: 60px;
    width: var(--width-12col);
    color: var(--background-color-light);
    border-bottom: 1px solid var(--background-color-light);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 37px;
}

.content_area_body {
    display:grid;
    width: var(--width-12col);
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
}

.content_area_body_wcontent_block {
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
    justify-content: left;
    grid-column: span 1;
}

.content_area_body img {
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content_area_body_wcontent_block_img {
    background-color: var(--background-color-light);
    display: flex-end;
    flex-direction: column;
    justify-content: left;
    grid-column: span 1;
}

/* Search page */

.hero-searchpage {
    background: var(--background-color-dark);
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:flex;
    justify-content: center ;
    width: var(--width-full);
    height: auto;
    margin:0;
    border-bottom: 1px solid var(--color-dark);
}

.search-box-searchpage {
    grid-column: 1 / span 4;
    grid-row: 2;
    margin: 100px 0 0 0;

}



.filter-category-checkbox {
    grid-column: 6 /span 7;
    grid-row: 2;
    margin: 100px 0 0 0;
    background: linear-gradient(90deg, #ededed11, #ededed07);
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    border-radius: 5px;
    padding: 25px 25px;
}

.search-box .search-input {
    width: 100%;
}

.fullsearch-headline {
    width: 100%;
    margin: 0 0 15px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.filter-category-checkbox h3 {
    width: 100%;
    margin: 0 0 10px 0;
    
}

.filter-category-checkbox label {
    width: 50%;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--background-color-light);
    font-weight: 100;
}

.filter-category-checkbox input[type="radio"] {
    margin-right: 10px;
    height: 22px;
    width: 22px;
}

.filter-category-checkbox input[type="radio"] {
    accent-color: var(--primary-color);

}

.filter-category-checkbox input[type="radio"]#chicken {
    accent-color: var(--category-chicken);

}
.filter-category-checkbox input[type="radio"]#meats {
    accent-color: var(--category-meats);

}
.filter-category-checkbox input[type="radio"]#veg {
    accent-color: var(--category-veg);

}
.filter-category-checkbox input[type="radio"]#desserts {
    accent-color: var(--category-dessert);

}
.filter-category-checkbox input[type="radio"]#Pasta {
    accent-color: var(--category-pasta);

}
.filter-category-checkbox input[type="radio"]#misc {
    accent-color: var(--category-misc);

}
.filter-category-checkbox input[type="radio"]#seafood {
    accent-color: var(--category-seafood);

}

.serp {
    display: flex;
    justify-content: center;
    width: var(--width-full);
}

.serp-container { 
 width: var(--width-12col);
 display: grid;
 grid-template-columns: repeat(12, 1fr);
 
}


.serp-result-item {
    grid-column: 2 / span 10;
    color: var(--background-color-light);
    padding: 10px;
}

.serp-result-item h2 {
    color: var(--primary-color);
    padding: 10px;
}

.serp-result-item p {
    color: var(--background-color-light);
    padding: 10px;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.footer-box-first {
    width: var(--width-12col);
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-box-one {
    display: flex;
    gap: 4px;
    margin-right: 10px;
    width: 25%;
    ;
    color: var(--color-dark);

}

.footer-box-two-one {
    display: flex;
    flex-direction: column;


}

.footer-box-two {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    color: var(--color-dark);
    font-size: 13px;
}

.footer-box-second {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 24px;
    color: var(--color-dark);
    font-size: 13px;

}

.footer-box-third {
    text-align: right;
    line-height: 24px;
    width: 50%;
    color: var(--background-color-light);
    border-left: 2px solid var(--background-color-light);
    font-weight: 400;
    font-size: 10px;
}

.dark {
    color: var(--color-dark);
}

.content_area_body_wcontent_block_innertext {
    padding: 100px; 
}

.content_area_body_wcontent_block_innertext h3 {
    color: var(--background-color-dark);
    border-left: 2px solid var(--primary-color);
    padding: 2px 0 2px 14px;
    margin-left: -15px;

}

.content_area_body_wcontent_block_innertext h2 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
    color: var(--primary-color);
}

.content_area_body_wcontent_button {
    background-color: var(--color-dark);
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 12px;
}